@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
  padding: 0;
  margin: 0;
  background: #EDF4FF;

}
html {
  scroll-behavior: smooth;
}
.App {
  padding: 0;
  text-align: center;
  background: #EDF4FF;
}
.top-background{
  background: rgb(142,170,255);
  background: linear-gradient(257deg, rgba(142,170,255,1) 0%, rgba(86,166,255,1) 100%);
}
.top-background2{
  background: #4D4DF5;
}
/* 
.buttonStyle2{
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  list-style-type: none;
  background: white;
}

.hiddenCard{
  position: absolute;
  height: 400px;
  width: 300px;
  background: orange;
  z-index: 10;
}
.hiddenCard:hover{
  transform: scaleY(2);
  
  z-index: 10;
} */

/* .interactButton{
  background: none;
  width: 75px;
  border-radius: 100px;
  text-align: center;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.interactButton:hover{
  cursor: pointer;
  background: white;
} */
.icon{
  width: 55px;
  height: 55px;
  color: white;
  padding: 10px;
  transition: 0.2s;
}
.icon:hover{
  background: #EDF4FF;
  transform: scale(1.1);
  border-radius: 100px;
  cursor: pointer;
  color: black;
}

/* .middleBar{
  z-index: 100;
  height: 600px;
  width: 100%;
  background: white;
} */

.bigTitle{
  font-family: 'Inter', sans-serif;
  font-size: 100px;
  width: 500px;
  margin: 0;
  height: fit-content;
  font-weight: 1000;
  text-align: center;
  color: white;
}
.underText{
  color: white;
}

h1{
  font-family: 'Oswald', sans-serif;
}

.button-style{
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding-left: 75px;
  padding-right: 75px;
  text-decoration: none;

  padding-top: 15px;
  padding-bottom: 15px;
  border-color: white;
  background: none;
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
  transition: 0.2s;
  font-weight: 600;
  color: white;

}
.button-style:hover{
  cursor: pointer;
  transform: scale(1.1);
  border-color: white;
  background: white;
  border-width: 3px;
  font-weight: 400;
  color: black;
}

.button-style.home{
  border-color: black;
  color: black;
}

.button-style.login{
  border-width: 2px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  border-color: black;
}
.button-style.login.register{
  background: rgb(142,170,255);
}

.button-style.login.logout{
  background: rgb(255, 96, 48);
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db; 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}
.loader.small{
  border: 3.5px solid #f3f3f3; 
  border-top: 3.5px solid #3498db; 
  width: 15px;
  height: 15px;
}
.loader.big{
  border: 10px solid #f3f3f3; 
  border-top: 10px solid #3498db; 
  width: 40px;
  height: 40px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.arrow{
  position: absolute;
  left: 67px;
  bottom: -70px;
  fill: white;
  height: 80px;
  transform: rotate(180deg);
}

.title{
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  color: white;
}
.smallTitle{
  width: 35%;
  font-size: 30px;
  font-family: 'Inter', sans-serif;

}
.smallTitle.normal{
  width: 100%;
}

.regularTitle{
  font-size: 35px;
  font-family: 'Ubuntu', sans-serif;
}

.regularTitle.small{
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}


.textStyle{
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.input-style{
  width: 300px;
  height: 20px;
  border: none;
  background: none;
  border-bottom: 2px solid rgb(35, 178, 249);
  outline: none;
}
.input-style.small{
  width: 200px;
}
.input-style.thick{
  border-bottom: 3px solid rgb(35, 178, 249);
  font-size: 20px;
}

.description-text{
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}
.description-text.underline{
  border-bottom: 2px solid rgb(35, 178, 249);
}
p{
  font-family: 'Inter', sans-serif;
}

.quiz-grid{
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.main-card{
  color: black;
  width: 100%;
  background: #4D4DF5;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition: 0.35s;
}
h2{
  font-family: 'Inter', sans-serif;
}
.main-card:hover{
  color: white;
  cursor: pointer;
  transform: translate(10px, -10px);
  /* transform: rotate(5deg); */
  border: 5px solid rgb(255, 255, 255);
}

.quiz-card{
  display: flex;
  justify-content: center;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  background: #3D54AD;
  transition: 0.35s;
  
}

.titleStyle{
  font-family: 'Inter', sans-serif;
}
.quiz-play-card{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  min-height: 600px;
  background: #4D4DF5;
  border-radius: 10px;
}

.answer-card{
  
  background: #3d54ad;
  margin: 5px;
  width: 300px;
  height: 70px;
  border-radius: 10px;
  transition: 0.1s;
}
.answer-card:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.answer-card.clicked{
  border: 1px solid rgb(255, 255, 255);
}

canvas{
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: -10;
}
/* .test{
  position: absolute;
  z-index: 5;
} */