@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  padding: 0;
  margin: 0;
  background: #EDF4FF;

}
html {
  scroll-behavior: smooth;
}
.App {
  padding: 0;
  text-align: center;
  background: #EDF4FF;
}
.top-background{
  background: rgb(142,170,255);
  background: linear-gradient(257deg, rgba(142,170,255,1) 0%, rgba(86,166,255,1) 100%);
}
h1{
  font-family: 'Oswald', sans-serif;
}

.button-style{
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding-left: 75px;
  padding-right: 75px;
  text-decoration: none;

  padding-top: 15px;
  padding-bottom: 15px;
  border-color: white;
  background: none;
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
  transition: 0.2s;
  font-weight: 600;
  color: white;

}
.button-style:hover{
  cursor: pointer;
  transform: scale(1.1);
  border-color: white;
  background: white;
  border-width: 3px;
  font-weight: 400;
  color: black;
}

.button-style.login{
  border-width: 2px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  border-color: black;
}
.button-style.login.register{
  background: rgb(142,170,255);
}

.button-style.login.logout{
  background: rgb(255, 96, 48);
}



.arrow{
  position: absolute;
  left: 67px;
  bottom: -70px;
  fill: white;
  height: 80px;
  transform: rotate(180deg);
}

.title{
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  color: white;
}
.smallTitle{
  width: 35%;
  font-size: 30px;
  font-family: 'Inter', sans-serif;

}

.input-style{
  width: 300px;
  height: 20px;
  border: none;
  background: none;
  border-bottom: 2px solid rgb(35, 178, 249);
  outline: none;
}
.input-style.small{
  width: 200px;
}

.description-text{
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}
.description-text.underline{
  border-bottom: 2px solid rgb(35, 178, 249);
}

.quiz-grid{
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}